alembic==1.4.0
certifi==2020.12.5
cffi==1.14.5
config
configparser==5.0.1
cryptography==3.4.6
flask==1.1.2
Flask-Migrate==2.5.2
Flask-Script==2.0.6
flask-sqlalchemy==2.4.4
gunicorn==20.0.4
ipython-genutils==0.2.0
jupyter-client==6.1.11
jupyter-core==4.7.1
numpy==1.20.0
psycopg2==2.8.6
pycparser==2.20
pyopenssl==20.0.1
python-dateutil==2.8.1
pyzmq==22.0.3
six==1.15.0
tornado==6.1
traitlets==5.0.5
wincertstore==0.2
